.header {
    background-color: var(--background-color);
    padding: 5px;
}

.header-nav__logo {
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-color);
}

.header-nav__menu {
    display: flex;
    flex-direction: column;

}

.header-nav__menu {
    text-decoration: none;
    color: var(--text-color); 
}

.header-nav__menu:hover {
    text-decoration: underline;

}

@media (min-width:500px) {
    .header-nav > .container {
        
    }
}
